[class*=icon-]:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(gameicons.png);
}

.icon-360:before {
  background-position: -20px 0px;
}
.icon-3ds:before {
  background-position: -60px -20px;
}
.icon-dc:before {
  background-position: 0px -20px;
}
.icon-ds:before {
  background-position: -20px -20px;
}
.icon-gb:before {
  background-position: -40px 0px;
}
.icon-gba:before {
  background-position: -40px -20px;
}
.icon-gbc:before {
  background-position: 0px -40px;
}
.icon-gcn:before {
  background-position: -20px -40px;
}
.icon-gen:before {
  background-position: -40px -40px;
}
.icon-n64:before {
  background-position: -60px 0px;
}
.icon-nes:before {
  background-position: 0px 0px;
}
.icon-ps2:before {
  background-position: -60px -40px;
}
.icon-ps3:before {
  background-position: 0px -60px;
}
.icon-psp:before {
  background-position: -20px -60px;
}
.icon-psx:before {
  background-position: -40px -60px;
}
.icon-sat:before {
  background-position: -60px -60px;
}
.icon-snes:before {
  background-position: -80px 0px;
}
.icon-wii:before {
  background-position: -80px -20px;
}
.icon-wiiu:before {
  background-position: -80px -40px;
}
.icon-xbox:before {
  background-position: -80px -60px;
}
